<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore Management</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:fragment="header">
    <div id="Header">
        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/view"><img src="../images/logo-topbar.gif" /></a>
            </div>
        </div>

        <div id="Menu">
            <div id="MenuContent">
                <a href="/cart/viewCart"><img align="middle" name="img_cart" src="../images/cart.gif" /></a>
                <img align="middle" src="../images/separator.gif" />
                <a>Login</a>
                <a>Login</a>
                <a>Logout</a>
                <img align="middle" src="../images/separator.gif" />
                <a>My Account</a>
                <img align="middle" src="../images/separator.gif" />
                <a href="../help.html">?</a>
            </div>
        </div>

        <div id="Search">
            <div id="SearchContent">
                <form action="/catalog/searchProducts" method="post">
                    <input type="text" name="keyword" size="14" />
                    <input type="submit" name="searchProducts" value="Search"/>
                </form>
            </div>
        </div>

        <div id="QuickLinks">
            <a href="/catalog/viewGoods">商品管理</a>
            <tr>|</tr>
            <a href="/account/viewAccount">用户管理</a>
            <tr>|</tr>
            <a href="/order/viewOrder">订单管理</a>

        </div>
    </div>
</header>
</body>
</html>