<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore Management</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Welcome">
        <div id="WelcomeContent">
            <!--登录用户的firstname-->
        </div>
    </div>

    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="/catalog/viewGoods">商品管理</a><br />
                Category Project Item management <br />
                <a href="/account/viewAccount">用户管理</a><br />
                User management <br />
                <a href="/order/viewOrder">订单管理</a><br />
                Order management <br />
            </div>
        </div>

<!--        <div id="MainImage">-->
<!--            <div id="MainImageContent">-->
<!--                <map name="estoremap">-->
<!--                    <area alt="Birds" coords="72,2,280,250" href="/catalog/viewCategory?categoryId=BIRDS" shape="RECT" />-->
<!--                    <area alt="Fish" coords="2,180,72,250" href="/catalog/viewCategory?categoryId=FISH" shape="RECT" />-->
<!--                    <area alt="Dogs" coords="60,250,130,320" href="/catalog/viewCategory?categoryId=DOGS" shape="RECT" />-->
<!--                    <area alt="Reptiles" coords="140,270,210,340" href="/catalog/viewCategory?categoryId=REPTILES" shape="RECT" />-->
<!--                    <area alt="Cats" coords="225,240,295,310" href="/catalog/viewCategory?categoryId=CATS" shape="RECT" />-->
<!--                    <area alt="Birds" coords="280,180,350,250" href="/catalog/viewCategory?categoryId=BIRDS" shape="RECT" />-->
<!--                </map>-->
<!--                <img height="355" src="../images/splash.gif" align="middle" usemap="#estoremap" width="350" />-->
<!--            </div>-->
<!--        </div>-->

        <div id="Separator">&nbsp;</div>
    </div>

</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>